.category{
display: flex;
gap: 20px;
overflow: auto;
padding: 30px 0;
}
.category li{
    white-space: nowrap;
}
.category li data{
    padding: 10px;
    background-color: #4E9DD3;
    border-radius: 10px;
    cursor: pointer;

}
.wraper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 40px 0;
}
.card{
    width: 370px;
    height: 459px;
    border-radius: 5px;
    border: 1px solid #EDEDF0    
}
.card img{
    width: 370px;
    height: 300px;
    border-radius: 5px;  
    object-fit: contain;  
    transition: all 0.2s linear;
}
.card img:hover{
    transform: scale(1.02);
}
.teg1{
    padding:  0 21px;
}
.teg1 h1{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #292929;   
}
.teg1 p{
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.05px;
    text-align: left;
    color: #292929;  
    padding: 14px  0px; 
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    
}
.yr{
    width: 370px;
    border: 1px solid #EDEDF0;
    margin-top:20px ;
}
.price{
    padding: 20px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price_all{
    display: flex;
    align-items: center;
    gap: 10px;
}
.price_all p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: #E7426A;
    
}
.price_all svg{
    font-size: 20px;
}
.price_all span{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: left;
    color: #000000E0;
    
}
.btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    cursor: pointer;
}
.btn{
    width: 293px;
    height: 50px;
    border-radius: 3px ;
    border: 1px solid #4E9DD3;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
    text-align: center;
    color: #000000;
    cursor: pointer;


    
}
